*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---Global CSS--- */

.parent-element {
  position: relative;
}

.child-element {
  position: absolute;
}

.bonnie img,
.jamil img {
    /*border: 1px solid purple;*/
    width: 16vw;
    
}

.deb hr {
    border-width: 1px solid black;
    position: absolute;
}

.deco {
    
    border: 1px solid #a59b9b;
}

.deco hr {
    border: 1px solid #a59b9b;
    position: absolute;
}

.c-vs {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    position: absolute;
    border: 1px solid rgb(51, 51, 51);
}

.storie-cards {
    position: relative;
}

.ranking {
    
    width: 22vw;
    background-color: #e3e4e6;
    color: blue;
    position: absolute;
    top: 34.3vh;
    z-index: 100;
}

.card-img-top {
   width: 100%;
   height: 39vh;
  
}

.survey {
    width: 38vw; 
}

/* ---Travel and culture--- */

.culture-badge {
  background-color: #e3e4e6;
  top: 51.5vh;
}

/* ---Sponsored-insight--- */

.sponsored-insight {
    width: 200px;
    background-color: #e3e4e6;
    color: blue;
    top: 33.3vh;
}

.icon-n img {
    width: 40px;
}

form {
    background-color: #F4F5F6;
    width: 360px;
    height: 200px;
    margin: 0 auto;
}

/* ---Magazine-section--- */

.cover,
.focus {
  background-color: #f00;
}

.news {
  color: #f00;
}

.focus {
  bottom: 13px;
}

/* ---editor-section--- */

.editor-bagde {
  bottom: 0;
}

