*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entire-section {
  min-width: 360px;
  background-color: #f4f5f6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: Arial,Helvetica,sans-serif;
  padding: 0;
  /*border: 1px solid red;*/
}

/* ---Global CSS--- */

.parent-element {
  position: relative;
}

a {
  color: #000;
}

.child-element {
  position: absolute;
}


/* --- header--- */

.navbar {
  background-color: #f00;
}

.fa-portrait,
.fa-bars {
  color: #fff;
}

.right-arrow {
  height: 30px;
}

.subscribe-link {
  height: 3.5vh;
  background-color: yellow;
  border-radius: 20px;
  padding: 2px 6px;
  color: #000;
}

.bonnie img,
.jamil img {
  width: 16vw;
    
}

.nav a {
  color: #000;
}

.nav a:hover,
.donald a:hover {
  color: #f00;
  font-weight: bolder;
}
 
.donald a {
  color: #8C8B90;
}

#trending {
  color: #000;
  cursor: text;
}

.card-title {
  font-weight: 900;
}

.card-text {
  font-size: 13px;
  color: #2c2929;
  
}

/*feature-section*/

.feature {
  border: 1px solid #fff;
  background-color: #fff;
}

.feature-container,
.single-card {
  background-color: #fff;
}

.feature-card-img-top {
  max-width: 100%;
}

.feature-title {
  color: rgba(3,3,3,.4);
  font: bold 16px/16px "Roboto Condensed",sans-serif;
}

.deb hr {
    border-width: 1px solid black;
    position: absolute;
}

.deco {
    
    border: 1px solid #a59b9b;
}

.deco hr {
    border: 1px solid #a59b9b;
    position: absolute;
}

.c-vs {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    position: absolute;
    border: 1px solid rgb(51, 51, 51);
}

.storie-cards {
    position: relative;
}



.physical {
  top: 186px;
}

.take {
    font-size: 11px;
    top: 27.5vh;
}

.best-maternity {
  top: 189px;
}

.survey {
    width: 38vw; 
}

.jaffer {
  color: #000;
  font-weight: 700;
}

.by {
  color: rgb(143, 132, 132);
}

.star {
  font-size: 13px;
}

.flag {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}


/* ---Travel and culture--- */

.culture-badge {
  background-color: #c2d4d7;
  bottom: 33px;
  width: auto;
}

/* ---Sponsored-insight--- */

.sponsored-title {
  color: #111;
  font-size: 17px;
  font-weight: bolder;
}

.sponsored-insight {
    width: auto;
    background-color: #e3e4e6;
    color: blue;
    top: 23vh;
    padding: 0 15px 0 15px;
}

.icon-n {
  height: 28px;
}

form {
    background-color: #f4f5f6;
    width: 360px;
    height: 200px;
}

/* ---Magazine-section--- */

.see-all {
  color: #111;
}

.magazine-description {
  color: rgb(7, 6, 6);
  font-size: 16px;
  line-height: 0.1;
}

.cover,
.focus {
  background-color: #f00;
}

.focus {
  bottom: 13px;
}

.news,
.us-bottom {
  color: #f00;
}

.foc
 {
  bottom: 13px;
}


/* ---editor-section--- */

.editor-bagde {
  bottom: 0;
}

/*.icon-editor img {
    width: 25px;
}*/

.picks {
  top: 0.6vh;
  left: 25vw;
}

.picks-text {
  top: 1.5vh;
  left: 33vw;
}

.editors-position {
  width: auto;
  background-color: #e3e4e6;
  top: 27.6vh;
  padding: 0 15px 0 15px;
  color: rgb(245, 0, 0);
}

.joe-bidden  {
  top: 39vh;
}
.see-all {
  text-align: center;
  color: #000;
  font-weight: 900;
}

.flag-2 {
  color: #000;
  font-weight: 700;
  font-size: 15px;
}

/*Subscribe section*/

.subscribe {
  background-color: white;
  padding: 20px 10px;
}

.subscribe-button {
  background-color: red;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  padding-left: 20px;
}

.vaccine {
  background-color: #F4F5F6;
}

.subscribe-h6 {
  color: #f00;
  font-weight: bolder;
}

.subscribe-icon {
  display: block;
  margin-top: 13px;
  height: 5vh;
  font-size: 20px;
  width: 5vw;
}

.resized-offset {
  z-index: 5;
  left: 90px;
  top: 10px;
}

/*.newsletter {
  background-color: white;
  border: 1px solid red;
}*/

#news {
  background-color: white;
  width: 100%;
}

#news-heading {
  font-size: 25px;
  color: #000;
}

.social-share-icons {
  width: 200px;
}

/* ---article--- */

.article-images {
  margin-left: -15px;
}


/* ---footer--- */

footer {
  background-color: white;  
}

footer h1 {
  color: red;
}

.editions-text {
  color: #666;
  font-size: 18px;
}

.nav-up a {
  font-size: 12px;
}

.nav-up a:hover,
.nav-down a:hover {
  color: #000;
}

.nav-down {
  font-size: 13px;
}

.sign-up {
  background-color: #F4F5F6;
}

.sign-up form {
  height: fit-content;
}

.sign-up form {
  width: 91%;
}


#free-sign-up {
  background-color: red;
  color: white;
}



/* ---Media Queries--- */

@media screen and (min-width: 768px) {
  .jamil {
    margin-right: 50px;
  }
}


@media screen and (min-width: 992px) {
  .brand-text {
    font-size: 4em;
    margin-top: 20px;
  }

  header {
    background-color: #fff;
  }

  main {
    margin-top: 128px;
  }
  
  .jamil {
    margin-right: 10px;
  }

.bonnie img,
.jamil img {
  width: 70px;   
}

/*magazine section*/

.the-magazine {
  width: 900px;
 
}

.icon-editor img {
    width: 25px;
  
}

.starting-5 img {
  height: 300px;
}

.ranking {
  width: 100px;
  height: 30px;
  background-color: #e3e4e6;
  color: blue;
  top: 113.7px;
 
}

.news-heading-description {
  font-size: 16px;
}

  
}


@media screen and (min-width: 1200px) {
  
  .entire-section {
    width: 85%;
    margin: 0 auto;
  }
}