*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    font-family: Arial,Helvetica,sans-serif;
    overflow-x: hidden
}

.entire-section {
  background-color: #f4f5f6;
}

/* ---Global CSS--- */

.parent-element {
  position: relative;
}

a {
  color: #000;
}

.child-element {
  position: absolute;
}


/* --- header--- */

.navbar {
  background-color: #f00;
}

.fa-portrait,
.fa-bars {
  color: #fff;
}

.right-arrow {
  margin-top: 3.45px;
}

.subscribe-link {
  height: 4.8vh;
  background-color: yellow;
  border-radius: 20px;
  padding: 2px 6px;
  color: #000;
}

.bonnie img,
.jamil img {
  width: 16vw;
    
}

.nav a {
  color: #000;
}

.nav a:hover,
.donald a:hover {
  color: #f00;
  font-weight: bolder;
}
 
.donald a {
  color: #8C8B90;
}

#trending {
  color: #000;
  cursor: text;
}

.card-title {
  font-weight: 900;
}

.card-text {
  font-size: 13px;
  color: #2c2929;
  
}

/*feature-section*/

.feature {
  border: 1px solid #fff;
  background-color: #fff;
}

.deb hr {
    border-width: 1px solid black;
    position: absolute;
}

.deco {
    
    border: 1px solid #a59b9b;
}

.deco hr {
    border: 1px solid #a59b9b;
    position: absolute;
}

.c-vs {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    color: #fff;
    background-color: black;
    position: absolute;
    border: 1px solid rgb(51, 51, 51);
}

.storie-cards {
    position: relative;
}

.ranking {
    
    width: auto;
    background-color: #e3e4e6;
    color: blue;
    position: absolute;
    top: 33.3vh;
    z-index: 100;
    padding: 0 15px 0 15px;
}

.take {
    padding: 0 5px 0 5px;
    font-size: 14px;
    top: 33.8vh;
}

.card-img-top {
   width: 100%;
   height: 39vh;
  
}

.survey {
    width: 38vw; 
}

.jaffer {
  color: #000;
  font-weight: 700;
}

.by {
  color: rgb(143, 132, 132);
}

.star {
  font-size: 13px;
}

.flag {
  color: #000;
  font-weight: 700;
  font-size: 18px;
}


/* ---Travel and culture--- */

.culture-badge {
  background-color: #e3e4e6;
  top: 48.5vh;
  width: auto;
}

/* ---Sponsored-insight--- */

.sponsored-insight {
    width: auto;
    background-color: #e3e4e6;
    color: blue;
    top: 33.3vh;
    padding: 0 15px 0 15px;
}

.icon-n img {
    width: 40px;
}

form {
    background-color: #9ca6b1;
    width: 360px;
    height: 200px;
    margin: 0 auto;
}

/* ---Magazine-section--- */

.cover,
.focus {
  background-color: #f00;
}

.news,
.us-bottom {
  color: #f00;
}

.focus {
  bottom: 13px;
}

/* ---editor-section--- */

.editor-bagde {
  bottom: 0;
}

.icon-editor img {
    width: 25px;
}

.editors-position {
    width: auto;
    background-color: #e3e4e6;
    top: 34.3vh;
    padding: 0 15px 0 15px;
}

.see-all {
  text-align: center;
  color: #000;
  font-weight: 900;
}

.flag-2 {
  color: #000;
  font-weight: 700;
  font-size: 15px;
}

/*Subscribe section*/

.vaccine {
  background-color: #F4F5F6;
}

.subscribe-h6 {
  color: #f00;
  font-weight: bolder;
}

.subscribe-icon {
  display: block;
  margin-top: 13px;
  height: 5vh;
  font-size: 20px;
  width: 5vw;
}

#news {
  background-color: #fff;
  border: 1px solid #9ca6b1;
  width: 365px;
  height: 220px;
  margin: 0 auto;
}

.quarter {
  font-size: 15px;
}


@media screen and (min-width: 992px) {
  .brand-text {
    font-size: 4em;
  }
  
}

@media screen and (min-width: 1200px) {
  
  .entire-section {
    width: 85%;
    margin: 0 auto;
  }
}